PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE usuarios (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    email TEXT NOT NULL UNIQUE,
    senha TEXT NOT NULL,
    tipo_usuario TEXT CHECK(tipo_usuario IN ('Agente P├║blico', 'OSC')),
    data_criacao TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    data_ultimo_login TIMESTAMP,
    session_token TEXT
);
INSERT INTO usuarios VALUES(1,'jeffersonluiz@prefeitura.sp.gov.br','scrypt:32768:8:1$PodQYsD1xvgciF3k$583d67f2bc8a3b7e2653391d591039c7bc242957d6ab8d484af201f9fadad5eca797517daeda6faee62986f1f9a7aea6cf21c960f8c682bb631be652d9191968','Agente P├║blico','2025-09-24 15:13:58',NULL,NULL);
INSERT INTO usuarios VALUES(2,'mmteixeira@prefeitura.sp.gov.br','scrypt:32768:8:1$BaHx3SHIj4dhcXsH$40fa773a83fe70d9ee7d2158b162ec6d9f797323f9ee53c8b832b90734c41b6b0a2714ec91e18a51c5506383fbc5a78d0b3018fc8fa13dda813078c5e1903ac5','OSC','2025-09-24 15:14:05',NULL,NULL);
CREATE TABLE Instrucoes (
                id INTEGER PRIMARY KEY AUTOINCREMENT,
                titulo TEXT NOT NULL,
                texto TEXT NOT NULL,
                data_criacao TEXT DEFAULT (datetime('now','localtime')),
                categoria TEXT
            );
INSERT INTO Instrucoes VALUES(1,'Reembolsos','Reembolsos ├® um termo utilizado quando h├í transa├º├úo de montantes para o nome da organiza├º├úo, sem poss├¡vel identifica├º├úo documental.','2025-09-24 14:59:33','Conceitos');
INSERT INTO Instrucoes VALUES(3,'Sobre o uso dos rendimentos','A execu├º├úo de rendimentos ser├í considerada pelo "princ├¡pio do decaimento do uso de verba": se a OSC disp├Áe de R$ 100.000,00 (cem mil) repassados, essa verba rendeu R$ 10.000,00 (dez mil reais) e ao fim, ela s├│ executou R$ 100.000,00, isso significa que ela n├úo utilizou rendimentos resultantes das aplica├º├Áes financeiras.','2025-09-24 15:23:08','Rendimentos');
ANALYZE sqlite_schema;
INSERT INTO sqlite_stat1 VALUES('Parcerias','sqlite_autoindex_Parcerias_1','2586 1');
INSERT INTO sqlite_stat1 VALUES('Parcerias_Despesas','idx_pd_numero_mes','17 9 4');
INSERT INTO sqlite_stat1 VALUES('Parcerias_Despesas','idx_pd_numero_termo','17 9');
ANALYZE sqlite_schema;
INSERT INTO sqlite_stat4 VALUES('Parcerias','sqlite_autoindex_Parcerias_1','1 1','287 287','287 287',X'033f025443562f3031302f323031362f534d4448432f46554d43414406fd');
INSERT INTO sqlite_stat4 VALUES('Parcerias','sqlite_autoindex_Parcerias_1','1 1','441 441','441 441',X'033f025443562f3032352f323031342f534d4448432f46554d4341440663');
INSERT INTO sqlite_stat4 VALUES('Parcerias','sqlite_autoindex_Parcerias_1','1 1','575 575','575 575',X'033d025443562f3033392f323031312f534d50502f46554d43414404f1');
CREATE TABLE Parcerias_Despesas (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    numero_termo TEXT NOT NULL,
    rubrica TEXT NOT NULL,
    quantidade INTEGER NOT NULL DEFAULT 1 CHECK (quantidade >= 0),
    categoria_despesa TEXT,
    valor REAL NOT NULL CHECK (valor >= 0),
    mes INTEGER NOT NULL CHECK (mes >= 1 AND mes <= 60),
    ano INTEGER, -- opcional, caso queira salv├í-lo tamb├®m (poder├í ser NULL)
    criado_em TEXT DEFAULT (datetime('now','localtime')),
    FOREIGN KEY (numero_termo) REFERENCES Parcerias(numero_termo) ON DELETE CASCADE
);
INSERT INTO Parcerias_Despesas VALUES(1,'TFM/072/2022/SMDHC/CPM','Servi├ºos de Terceiros',1,'Coordenador (PJ)',7225.0,1,NULL,'2025-10-10 17:51:39');
INSERT INTO Parcerias_Despesas VALUES(2,'TFM/072/2022/SMDHC/CPM','Servi├ºos de Terceiros',1,'Coordenador (PJ)',7225.0,2,NULL,'2025-10-10 17:51:39');
INSERT INTO Parcerias_Despesas VALUES(3,'TFM/072/2022/SMDHC/CPM','Servi├ºos de Terceiros',1,'Coordenador (PJ)',7225.0,3,NULL,'2025-10-10 17:51:39');
CREATE TABLE Parcerias (
    numero_termo TEXT PRIMARY KEY,
    osc TEXT NOT NULL,
    projeto TEXT,
    tipo_termo TEXT,
    portaria TEXT,
    cnpj TEXT,
    inicio DATE,
    final DATE,
    meses INTEGER,
    total_previsto REAL,
    total_pago REAL,
    conta REAL,
    transicao INTEGER,
    sei_celeb TEXT,
    sei_pc TEXT,
    endereco TEXT,
    sei_plano TEXT,
    sei_orcamento TEXT,
    contrapartida INTEGER
);
INSERT INTO Parcerias VALUES('TCV/002/2006/SEPP/CPLGBTI','Associa├º├úo da Parada do Orgulho de Gays, L├®sbicas, Bissexuais e Transg├¬neros de S├úo Paulo','Comemora├º├úo dos 10 Anos da Parada do Orgulho LGBT de S├úo Paulo','Conv├¬nio',NULL,'3308310000000','2006-10-09','2006-11-10',2,150000.0,150000.0,NULL,NULL,NULL,'6074200000000000',NULL,NULL,NULL,NULL);
INSERT INTO Parcerias VALUES('TCV/002/2007/CADS/CPLGBTI','Associa├º├úo Cultural Mix Brasil','XV Festival Mix Brasil de Cinema e V├¡deo da Diversidade Sexual','Conv├¬nio',NULL,'4127580000000','2007-10-30','2007-11-22',2,130000.0,130000.0,NULL,NULL,NULL,'6074200000000000',NULL,NULL,NULL,NULL);
INSERT INTO Parcerias VALUES('TCV/001/2008/SMPP/CPLGBTI','ACESD: Associa├º├úo Cultural Educacional e Social Dynamite','Virada LGBT - Retrospectiva de Teatro','Conv├¬nio',NULL,'7157970000000','2008-01-23','2008-02-26',2,22700.0,22700.0,NULL,NULL,NULL,'6074200000000000',NULL,NULL,NULL,NULL);
INSERT INTO sqlite_sequence VALUES('usuarios',2);
INSERT INTO sqlite_sequence VALUES('Instrucoes',3);
INSERT INTO sqlite_sequence VALUES('Parcerias_Despesas',17);
CREATE INDEX idx_pd_numero_termo ON Parcerias_Despesas(numero_termo);
CREATE INDEX idx_pd_numero_mes ON Parcerias_Despesas(numero_termo, mes);
COMMIT;
